/* Import Local SCSS Files */
@import 'reset', 'variables', 'fonts';

* {
  font-family: $primary-kr;
}
body {
  font-weight: 300;
  margin: 0;
  font-size: 15px;
}

/* Temporary CSS */
.category-shortcut,
.focus-class,
.best-class,
.early-bird,
.blog,
.slogan,
.tip-tech {
  display: none;
}

/* ------- Common CSS ------- */
section:not(.front-slider) {
  border: 1px solid #000;
  padding: 65px 0;
}

/* ++++++++ Header ++++++++ */
header {
  display: flex;
  justify-content: center;
  background-color: $white;
  width: 100%;
  border-bottom: 1px solid $silver-gray;
  position: relative;
  z-index: 100;
  &.active {
    position: fixed;
    box-shadow: 0 0 5px rgba($dark-black, 0.1);
    border: none;
  }
  .header-inner {
    width: 1160px;
    .logo-search {
      display: flex;
      gap: 20px;
      padding: 20px 0;
      .logo {
        img {
        }
      }
      .search {
        width: 520px;
        position: relative;
        input[type='text'] {
          width: 100%;
          background-color: $silver-gray;
          padding: 7px;
          border-radius: 50px;
          padding-left: 15px;
          &:focus::placeholder {
            visibility: hidden;
          }
          &:focus {
            // border: 1px solid rgba($royalblue, 0.5);
            border-color: rgba($royalblue, 0.5);
            background-color: $white;
            box-shadow: 0 0 5px rgba($royalblue, 0.5);
          }
          &:focus + .bi {
            color: $royalblue;
          }
        }
        .bi {
          position: absolute;
          right: 15px;
          // 수평 가운데 정렬
          top: 50%;
          transform: translateY(-50%);
          cursor: pointer;
        }
      }
      .login-register-buttons {
        margin-left: auto;
        button {
          border: 1px solid $dim-gray;
          border-radius: 5px;
          margin-right: 5px;
          padding: 5px 10px;
          background-color: transparent;
          &.btn-register {
            background-color: $forestgreen;
            color: $white;
            border: transparent;
          }
        }
      }
      .user-alarm {
        display: none;
        margin-left: auto;
        span {
          margin-right: 10px;
          vertical-align: middle;
          width: 20px;
          position: relative;
          .bi {
            font-size: 20px;
          }
          em {
            position: absolute;
            width: 15px;
            height: 15px;
            background-color: $tomato;
            border-radius: 50%;
            right: -3px;
            &:before {
              content: attr(data-count);
              color: $white;
              font-style: normal;
              font-size: 11px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
        .avatar {
          img {
            height: 28px;
            border-radius: 50%;
          }
        }
      }
    }
    .gnb {
      height: 50px;
      display: flex;
      align-items: center;
      gap: 10px;
      a {
        font-weight: 400;
        color: $dim-black;
        &:after {
          content: '·';
          padding-left: 7px;
        }
        &:last-child:after {
          display: none;
        }
        &:hover:not(.trigger) {
          color: $crimson;
        }
      }
      .trigger {
        &:before {
          content: '';
          background: url('../img/icon-category.png');
          width: 20px;
          height: 18px;
          display: inline-block;
          margin-right: 5px;
          transform: translateY(4px);
        }
      }
    }
  }
  .mega-navi {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: $dark-black;
    width: 100%;
    .mega-navi-inner {
      width: 1160px;
      border: 1px solid red;
      margin: auto;
      padding: 20px 0;
      display: flex;
      justify-content: space-between;
      .mega-navi-item {
        color: $white;
        font-style: 14px;
        font-weight: 300;
        line-height: 1.8em;
        flex: 1;
        b {
        }
        .mega-navi-item-wrap {
          a {
            display: block;
            color: $dark-gray;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

/* ------- Front Page : index.html ------- */

/* Section : Front Slider */
.front-slider {
  .front-slider-items {
    .front-slider-item {
      cursor: pointer;
      &.first {
        background-color: #fbefe4;
      }
      &.second {
        background-color: #f6e58d;
      }
      &.third {
        background-color: #c8d6e5;
      }
      .front-slider-item-wrap {
        width: 1160px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 400px;
        .desc {
          font-family: $secondary-kr;
          b {
            font-size: 16px;
            font-weight: normal;
            color: $crimson;
          }
          h1 {
            font-size: 34px;
            margin: 15px 0;
          }
          span {
            font-size: 15px;
          }
        }
        .pic {
          img {
            height: 350px;
          }
        }
      }
    }
  }
}
